{% extends 'oj_base.html' %}
{% block title %}
    {{ problem.title }}
{% endblock %}
{% block body %}
    <div class="container main">
        <ul class="nav nav-tabs nav-tabs-google">
            <li role="presentation" class="active">
                <a href="/problem/{{ problem.id }}/">题目</a>
            </li>
            <li role="presentation">
                <a href="/problem/{{ problem.id }}/submissions/">我的提交</a>
            </li>
        </ul>
        {% include "oj/problem/_problem_header.html" %}

        <div>
            {% include "oj/problem/_problem_main_info.html" %}
            <div>
                <button type="button" id="show-more-btn" class="btn btn-default btn-sm">查看隐藏信息</button>
            </div>
            {% if problem.hint %}
                <div class="problem-section hide">
                    <label class="problem-label">提示</label>
                    <div class="problem-detail">{{ problem.hint|safe }}</div>
                </div>
            {% endif %}
            <div class="problem-section hide">
                <label class="problem-label">标签</label>
                <p class="problem-detail">
                    {% for tag in problem.tags.all %}
                        <span class="label label-success">{{ tag.name }}</span>
                    {% endfor %}
                </p>
            </div>
            {% if problem.source %}
                <div class="problem-section hide">
                    <label class="problem-label">来源</label>
                    <div class="problem-detail">{{ problem.source }}</div>
                </div>
            {% endif %}
            {% include "oj/problem/_submit_problem.html" %}
            <div id="result">
            </div>
            <hr>
        </div>
    </div>
{% endblock %}
{% block js_block %}
    <script src="/static/js/app/oj/problem/problem.js"></script>
    {% include "oj/problem/_mathjax_js.html" %}
{% endblock %}