{% extends 'oj_base.html' %}
{% block title %}
    {{ contest.title }}
{% endblock %}
{% block body %}
    <div class="container main">
        <ul class="nav nav-tabs nav-tabs-google">
            <li role="presentation" class="active">
                <a href="/contest/{{ contest.id }}/">比赛详情</a>
            </li>
            <li role="presentation">
                <a href="/contest/{{ contest.id }}/problems/">题目列表</a>
            </li>
            <li role="presentation">
                <a href="/contest/{{ contest.id }}/submissions/">提交</a>
            </li>
            <li role="presentation">
                <a href="/contest/{{ contest.id }}/rank/">排名</a>
            </li>
        </ul>
        {% include "oj/contest/_contest_header.html" %}
    </div>
{% endblock %}
{% block js_block %}
    {% include "oj/contest/_countdown_template.html" %}
    <script src="/static/js/app/oj/contest/contestCountdown.js"></script>
{% endblock %}
