<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">

    <title>在线评测系统 - 后台管理</title>

    <!-- custom css begin -->
    {% block css_block %}{% endblock %}
    <!-- custom css end -->

    <!-- global css begin -->
    <link href="/static/css/admin.css" rel="stylesheet">
    <!-- global css end -->
</head>


<body>

<!-- nav begin -->
<nav class="navbar navbar-masthead navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">qduoj admin</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">主页</a></li>
                <li><a href="#about">题目</a></li>
                <li><a href="#contact">提交</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        李扬
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">我的提交</a></li>
                        <li><a href="#">我的资料</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- nav end -->

<!--browser happy begin -->
<!--[if lt IE 9]>
<div class="alert alert-danger text-center" role="alert">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/">升级你的浏览器</a>.
</div>
<![endif]-->
<!-- browser happy end -->

<div class="container">
    <div class="row">
        <!-- admin left begin-->
        <div class="col-md-2">
            <ul class="list-group">
                <li class="list-group-header">List header</li>
                <li class="list-group-item active"><a href="#">Home</a></li>
                <li class="list-group-item"><a href="#">Library</a></li>
                <li class="list-group-item"><a href="#">Applications</a></li>
                <li class="list-group-header">Another list header</li>
                <li class="list-group-item"><a href="#">Help</a></li>
            </ul>
        </div>
        <!-- admin left end -->

        <!-- custom body begin -->
        {% block body %}{% endblock %}
        <!-- custom body end -->
    </div>
</div>


<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p id="modal-text"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/config.js"></script>
<script src="/static/js/require.js"></script>
<script>
    require(["bootstrap"]);
</script>
{% block js_block %}{% endblock %}
<!-- footer begin -->
<div class="footer">
    <p class="text-muted text-center">Copyright © 2015 青岛大学信息工程学院 创新实验室</p>
</div>
<!-- footer end -->
</body>
</html>