<table cellpadding="0" cellspacing="0" align="center" style="text-align:left;font-family:'微软雅黑','黑体',arial;"
       width="742">
    <tbody>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0"
                   style="text-align:left;border:1px solid #50a5e6;color:#fff;font-size:18px;" width="740">
                <tbody>
                <tr height="39" style="background-color:#50a5e6;">
                    <td style="padding-left:15px;font-family:'微软雅黑','黑体',arial;">
                        {{ website_name }} 登录信息找回
                    </td>
                </tr>
                </tbody>
            </table>
            <table cellpadding="0" cellspacing="0"
                   style="text-align:left;border:1px solid #f0f0f0;border-top:none;color:#585858;background-color:#fafafa;"
                   width="740">
                <tbody>
                <tr height="25">
                    <td></td>
                </tr>

                <tr height="40">
                    <td style="padding-left:25px;padding-right:25px;font-size:18px;font-family:'微软雅黑','黑体',arial;">
                        Hello, {{ username }}:
                    </td>
                </tr>

                <tr height="15">
                    <td></td>
                </tr>
                <tr height="30">
                    <td style="padding-left:55px;padding-right:55px;font-family:'微软雅黑','黑体',arial;font-size:14px;">
                        您刚刚在 {{ website_name }} 申请了找回登录信息服务。
                    </td>
                </tr>
                <tr height="30">
                    <td style="padding-left:55px;padding-right:55px;font-family:'微软雅黑','黑体',arial;font-size:14px;">
                        请在<span style="color:rgb(255,0,0)">30分钟</span>内点击下面链接设置您的新密码：
                    </td>
                </tr>
                <tr height="60">
                    <td style="padding-left:55px;padding-right:55px;font-family:'微软雅黑','黑体',arial;font-size:14px;">
                        <a href="{{ link }}" target="_blank"
                           style="color: rgb(255,255,255);text-decoration: none;display: block;min-height: 39px;width: 158px;line-height: 39px;background-color:rgb(80,165,230);font-size:20px;text-align:center;">重置密码</a>
                    </td>
                </tr>
                <tr height="10">
                    <td></td>
                </tr>
                <tr height="20">
                    <td style="padding-left:55px;padding-right:55px;font-family:'微软雅黑','黑体',arial;font-size:12px;">
                        如果上面的链接点击无效，请复制以下链接至浏览器的地址栏直接打开。
                    </td>
                </tr>
                <tr height="30">
                    <td style="padding-left:55px;padding-right:65px;font-family:'微软雅黑','黑体',arial;">
                        <a href="{{ link }}" target="_blank" style="color:#0c94de;font-size:12px;">
                            {{ link }}
                        </a>
                    </td>
                </tr>
                <tr height="20">
                    <td style="padding-left:55px;padding-right:55px;font-family:'微软雅黑','黑体',arial;font-size:12px;">
                        如果您没有提出过该申请，请忽略此邮件。有可能是其他用户误填了您的邮件地址，我们不会对你的帐户进行任何修改。
                        请不要向他人透露本邮件的内容，否则可能会导致您的账号被盗。
                    </td>
                </tr>
                <tr height="20">
                    <td></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>