{% extends "oj_base.html" %}
{% block title %}
    找回登录信息
{% endblock %}
{% block body %}
    <div class="container main">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center">找回登录信息</h2><br>
            <div>
                <p>请输入你注册时使用的邮箱地址，系统将自动向你的邮箱发送一封含有您登录信息的电子邮件，
                    你可以看到你的用户名，并可以选择重新设置登录密码，注意为了你的账户安全，重置密码链接仅在30分钟内有效</p>
            </div>
            <br>
            <form id="login-form">
                <div class="form-group">
                    <label for="email">注册电子邮件地址</label>
                    <input type="email" class="form-control input-lg" id="email" name="email" placeholder="邮箱地址"
                           data-remote="/api/email_check/?reset=true" data-remote-error="该邮箱未被注册！" data-error="请填写正确的邮箱地址"
                           required>

                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group" id="captcha-area">
                    <label for="captcha">验证码</label>&nbsp;&nbsp;<img src="/captcha/" id="captcha-img">
                    <small><p></p></small>
                    <input type="text" class="form-control input-lg" id="captcha" name="captcha"
                           placeholder="验证码" maxlength="4" data-error="请填写验证码" required>

                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js_block %}
    <script src="/static/js/app/oj/account/applyResetPassword.js"></script>
{% endblock %}