{% extends "oj_base.html" %}
{% block title %}
    用户登录
{% endblock %}
{% block body %}
<div class="container main">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">用户登录</h2>

        <form id="login-form">
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control input-lg" id="username" name="username" maxlength="30"
                       data-error="请填写用户名" placeholder="用户名" autofocus required autocomplete="off">

                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control input-lg" id="password" name="password" maxlength="30"
                       data-error="请填写密码" placeholder="密码" required autocomplete="off">

                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group" id="tfa-area">
                <label for="captcha">两步验证</label>
               <input type="text" class="form-control input-lg" id="tfa-code" name="tfa-code"
                      placeholder="两步验证验证码" maxlength="6" data-error="请填写两步验证验证码" required autocomplete="off">
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
            <a href="/reset_password/">忘记用户名/密码</a><br>
            <a href="/register/">还没有帐号?点击注册</a>

        </form>
    </div>
</div>
{% endblock %}
{% block js_block %}
<script src="/static/js/app/oj/account/login.js"></script>
{% endblock %}