{% extends "oj_base.html" %}
{% block title %}

{% endblock %}
{% block body %}
    <div class="container main">
        <div class="col-lg-4">
            <div class="avatar">
                <img src="https://coding.net/static/fruit_avatar/Fruit-1.png" class="img-responsive"
                     style="height: 200px;width: 200px;">
            </div>
            <div>
                <h2>virusdefender</h2>
            </div>
            <div class="list-group col-lg-10">
                <p class="list-group-item"><span class="glyphicon glyphicon-link"></span>
                    <a href="https://virusdefender.net">https://virusdefender.net</a>
                </p>

                <p class="list-group-item">
                    <img src="/static/img/oj_logo/hdu_logo.png" style="height: 20px">
                    <a href="https://virusdefender.net">https://virusdefender.net</a>
                </p>

                <p class="list-group-item">
                    <img src="/static/img/oj_logo/bestcoder_logo.png" style="height: 20px">
                    <a href="https://virusdefender.net">https://virusdefender.net</a>
                </p>

                <p class="list-group-item">
                    <img src="/static/img/oj_logo/codeforces_logo.png" style="height: 20px">
                    <a href="https://virusdefender.net">https://virusdefender.net</a>
                </p>


                <p class="list-group-item"><span class="glyphicon glyphicon-calendar"></span> 2015-9-10</p>
            </div>
        </div>
        <div class="col-lg-8">
            <ul class="nav nav-tabs" style="margin: 10px;;">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#123">全部分享</a></li>
            </ul>


            <div class="col-lg-6">
                <div class="panel panel-success">
                    <div class="panel-heading"><h3 class="panel-title">正在做的题</h3></div>

                    <div class="list-group">
                        <p class="list-group-item">
                            <a href="#" style="font-size: large;">problem title</a>
                            <span class="right">3 / 10</span>
                            <span style="display: block;">Accepted</span>
                        </p>

                        <p class="list-group-item">
                            <a href="#" style="font-size: large;">problem title</a>
                            <span class="right">3 / 10</span>
                            <span style="display: block;">Accepted</span>
                        </p>

                        <p class="list-group-item">
                            <a href="#" style="font-size: large;">problem title</a>
                            <span class="right">3 / 10</span>
                            <span style="display: block;">Accepted</span>
                        </p>

                        <p class="list-group-item">
                            <a href="#" style="font-size: large;">problem title</a>
                            <span class="right">3 / 10</span>
                            <span style="display: block;">Accepted</span>
                        </p>

                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading"><h3 class="panel-title">分享的代码</h3></div>
                    <div class="panel-body"> Panel content</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_block %}
    <script src="/static/js/app/oj/account/register.js"></script>
{% endblock %}