{% extends "oj_base.html" %}
{% block title %}
{{ user.username }}的主页
{% endblock %}
{% block body %}
    <div class="container main">
        <div class="col-lg-4">
            <div class="avatar">
                <img src="{{ user.userprofile.avatar }}" class="img-responsive big-avatar">
            </div>
            <div>
                <h2>
                    {{ user.username }}
                    {% ifequal user.admin_type 2 %}
                        <span class="glyphicon glyphicon-star super-admin-star" title="超级管理员"></span>
                    {% endifequal %}
                    {% ifequal user.admin_type 1 %}
                        <span class="glyphicon glyphicon-star admin-star"></span>
                    {% endifequal %}

                </h2>
                {% if user.userprofile.mood %}
                    <p id="user-mood">{{ user.userprofile.mood }}</p>
                {% endif %}
                
            </div>
            <div class="list-group col-lg-9">
                {% if user.userprofile.school %}
                <p class="list-group-item"> <span class="glyphicon glyphicon-education"></span>
                    {{ user.userprofile.school }}
                </p>
                {% endif %}
                {% if user.userprofile.blog %}
                <p class="list-group-item"> <span class="glyphicon glyphicon-link"></span>
                    <a href="{{ user.userprofile.blog }}" target="_blank">{{ blog_link }}</a>
                </p>
                {% endif %}

                {% if user.userprofile.hduoj_username %}
                <p class="list-group-item">
                    <img src="/static/img/oj_logo/hdu_logo.png" id="oj-logo">
                    <a href="http://acm.hdu.edu.cn/userstatus.php?user={{ user.userprofile.hduoj_username }}" target="_blank">
                        {{ user.userprofile.hduoj_username }}
                    </a>
                </p>
                {% endif %}

                {% if user.userprofile.bestcoder_username %}
                <p class="list-group-item">
                    <img src="/static/img/oj_logo/bestcoder_logo.png" id="oj-logo">
                    <a href="http://bestcoder.hdu.edu.cn/rating.php?user={{ user.userprofile.bestcoder_username }}" target="_blank">
                        {{ user.userprofile.bestcoder_username }}
                    </a>
                </p>
                {% endif %}

                {% if user.userprofile.codeforces_username %}
                <p class="list-group-item">
                    <img src="/static/img/oj_logo/codeforces_logo.png" id="oj-logo">
                    <a href="http://codeforces.com/profile/{{ user.userprofile.codeforces_username }}" target="_blank">
                        {{ user.userprofile.codeforces_username }}
                    </a>
                </p>
                {% endif %}
                
                <p class="list-group-item">
                    <span class="glyphicon glyphicon-calendar"></span>
                    {{ user.create_time }}
                </p>
                <div class="rows">
                    <!--
                    <div class="col-lg-4 text-center">
                        <strong id="user-data-number">{{ user.userprofile.rank }}</strong>
                        <span id="user-data-text">Rank</span>
                    </div>
                    
                    <div class="col-lg-6 text-center">
                        <strong id="user-data-number">{{ user.userprofile.accepted_number }}</strong>
                        <span id="user-data-text">AC</span>
                    </div>
                    <div class="col-lg-6 text-center">
                        <strong id="user-data-number">{{ user.userprofile.submissions_number }}</strong>
                        <span id="user-data-text">Submissions</span>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            
        </div>
    </div>
{% endblock %}