# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# C extensions
*.so
# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
# Translations
*.mo
# Mr Developer
.mr.developer.cfg
.project
.pydevproject
# Rope
.ropeproject
.idea/
# Django stuff:
*.log
*.pot
# Sphinx documentation
docs/_build/
# Back up file
*~
#db file
db.db
#vim cache
*swp
*swo
#redis dump
*.rdb
#*.out
*.sqlite3
.DS_Store
log/
static/release/css
static/release/js
static/release/img
static/src/upload_image/*
build.txt
tmp/
test_case/
release/
upload/
custom_settings.py
docker-compose.yml
*.zip
rsyncd.passwd
oj.conf