{% extends "oj_base.html" %}
{% block body %}
    <div class="container main">
        <ul class="nav nav-tabs nav-tabs-google">
            <li role="presentation">
                <a href="/help/">帮助</a>
            </li>
            <li role="presentation" class="active">
                <a href="/about/">关于</a>
            </li>
        </ul>
        <div>
            <h2 class="text-center">ACM 简介</h2>
            <img src="/static/img/acm_logo.png" id="about-acm-logo" class="center-block">

            <p>
                ACM国际大学生程序设计竞赛（英语：ACM International Collegiate Programming Contest,
                ICPC）是由美国电脑协会（ACM）主办的，一项旨在展示大学生创新能力、团队精神和在压力下编写程序、分析和解决问题能力的年度竞赛。
                经过30多年的发展，ACM国际大学生程序设计竞赛已经发展成为最具影响力的大学生计算机竞赛。赛事目前由IBM公司赞助。
            </p>

            <p>
                青岛大学 ACM 队是一支优秀的队伍，一支充满活力与激情的队伍，它满载着光辉与荣誉。在过去的几年里，集训队的队员曾代表我校多次
                参加竞赛，获得了佳绩。
            </p>

            <p>
                ACM 队会在每月举行一次 ACM 月赛，该比赛是 ACM 选拨队员的重要评据。ACM 队用比赛来保证队伍的活力，以比拼来加强队伍的素质，
                正是如此，ACM 队的队员在程序设计方面始几乎终代表着全院的最高水平。
            </p>

            <p>
                如果你有意加入这支优秀的队伍，就用你的行动来证明你的优秀吧，月赛将是你展示自我的舞台。
            </p>

            <h2 class="text-center">开源</h2>

            <p>
                <a href="#" target="_blank">代码</a> <a href="#" target="_blank">文档</a>
            </p>

            <h2 class="text-center">开发人员</h2>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>指导老师</th>
                    <th>李建波</th>
                </tr>
                <tr>
                    <th>v1.0</th>
                    <th>
                        董延鑫
                        邢兆龙
                    </th>
                </tr>
                <tr>
                    <th>v2.0</th>
                    <th>
                        董延鑫
                        杨玉飞
                        徐可飞
                        王波
                        周鲁晓
                    </th>
                </tr>
                <tr>
                    <th>v3.0</th>
                    <th>。。。</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
