{% extends "oj_base.html" %}
{% block body %}
    <div class="container main">
        <ul class="nav nav-tabs nav-tabs-google">
            <li role="presentation">
                <a href="/help/">帮助</a>
            </li>
            <li role="presentation" class="active">
                <a href="/about/">关于</a>
            </li>
        </ul>
        <div>
            <h2 class="text-center">ACM 简介</h2>
            <img src="/static/img/acm_logo.png" id="about-acm-logo" class="center-block">

            <p>
                ACM国际大学生程序设计竞赛（英语：ACM International Collegiate Programming Contest,
                ICPC）是由美国电脑协会（ACM）主办的，一项旨在展示大学生创新能力、团队精神和在压力下编写程序、分析和解决问题能力的年度竞赛。
                经过30多年的发展，ACM国际大学生程序设计竞赛已经发展成为最具影响力的大学生计算机竞赛。赛事目前由IBM公司赞助。
            </p>

            <!-- 请使用这套程序的朋友不要删除"开源"这部分 -->
            <h2 class="text-center">开源</h2>

            <p>
                <a href="https://github.com/QingdaoU/OnlineJudge" target="_blank">GitHub</a>
                <a href="https://github.com/QingdaoU/OnlineJudge/issues" target="_blank">问题反馈</a>
                <a href="https://github.com/QingdaoU/OnlineJudge/wiki/dev-team" target="_blank">开发团队</a>
            </p>
            <!-- end -->

        </div>
    </div>
{% endblock %}
