{% extends "oj_base.html" %}
{% block body %}
    <div class="container main">
        <ul class="nav nav-tabs nav-tabs-google">
            <li role="presentation" class="active">
                <a href="/help/">帮助</a>
            </li>
            <li role="presentation">
                <a href="/about/">关于</a>
            </li>
        </ul>
        <div>
            <h2 class="text-center">判题系统</h2>
            <h4>判题结果</h4>
            <ul>
                <li>Accepted: 你的答案符合判题标准</li>
                <li>Runtime Error: 你的程序运行时出现错误（指针越界，栈溢出，有未处理的异常，主函数返回值非零等）</li>
                <li>Time Limit Exceeded: 你的程序执行时间超出题目要求</li>
                <li>Memory Limit Exceeded: 你的程序内存使用超出题目要求</li>
                <li>Compile Error: 你的程序在编译（包括链接）时出现错误</li>
                <li>Wrong Answer: 你的程序输出的答案不符合判题标准</li>
                <li>System Error: 判题系统发生故障，请等待重判</li>
                <li>Waiting: 你的提交正在等待处理</li>
            </ul>
            <h4>支持的语言</h4>
            <ul>
                <li>C (GCC 4.8)</li>

                <li>C++ (G++ 4.3)</li>

                <li>Java (Oracle JDK 1.7)</li>
            </ul>
            <h4>编译参数</h4>
            <ul>
                <li>C</li>
                <pre>gcc -DONLINE_JUDGE -O2 -w -std=c99 {src_path} -lm -o {exe_path}main</pre></p>
                <li>C++</li>
                <pre>g++ -DONLINE_JUDGE -O2 -w -std=c++11 {src_path} -lm -o {exe_path}main</pre>
                <li>Java</li>
                <pre>javac {src_path} -d {exe_path}</pre>
                <pre>java -cp {exe_path} Main</pre>
            </ul>


            <h2 class="text-center">常见问题</h2>
            <ul>
                <li>输入输出</li>
                <p>无特殊说明，请使用标准输入输出</p>
                <li>C/C++的64位整数类型</li>
                <p>请使用long long声明，使用cin/cout或 %lld输入输出</p>
                <li>判题结果与本地执行结果不一致</li>
                <p>是否使用了不同版本的编译器（VC和TC并不完全符合C/C++标准）</p>
                <p>判题时可能使用了与您测试时不同的测试数据（不仅限于样例中展示的数据）</p>
                <li>程序执行时间和占用的内存如何计算</li>
                <p>执行时间指CPU时间，占用内存按执行过程中内存消耗的峰值计，有多组测试数据时以最大的时间和内存消耗为准</p>

            </ul>
        </div>
    </div>
{% endblock %}
