{% extends 'oj_base.html' %}

{% block body %}

    {% load submission %}
    <div class="container main">
        <ul class="nav nav-tabs nav-tabs-google">
            <li role="presentation">
                <a href="/problem/{{ problem.id }}/">题目</a></li>
            <li role="presentation" class="active">
                <a href="/problem/{{ problem.id }}/my_submissions/">我的提交</a></li>
        </ul>
        <h2 class="text-center">{{ problem.title }}</h2>

        <p class="text-muted text-center">发布时间: {{ problem.create_time }}&nbsp;&nbsp;
            时间限制: {{ problem.time_limit }}ms&nbsp;&nbsp;
            内存限制: {{ problem.memory_limit }}M</p>
        <table class="table table-bordered">
            <thead>
            <tr class="" success>
                <th>#</th>
                <th>提交时间</th>
                <th>结果</th>
                <th>运行时间</th>
                <th>语言</th>
            </tr>
            </thead>
            <tbody>
            {% for item in submissions %}
                <tr class="{{ item.result|translate_result_class }}">
                    <th scope="row"><a href="/my_submission/{{ item|translate_id }}/">{{ forloop.counter }}</a></th>
                    <td>{{ item.create_time }}</td>
                    <td>{{ item.result|translate_result }}</td>
                    <td>
                        {% if item.accepted_answer_info.time %}
                            {{ item.accepted_answer_info.time }}ms
                        {% else %}
                            --
                        {% endif %}
                    </td>
                    <td>
                        {{ item.language|translate_language }}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}