{% extends 'oj_base.html' %}

{% block body %}

<div class="container main">
    <ul class="nav nav-tabs nav-tabs-google">
        <li role="presentation">
            <a href="/problem/1/">题目</a></li>
        <li role="presentation" class="active"><a href="my_solutions_list.html">我的提交</a></li>
    </ul>
    <h2 class="text-center">Battle Over Cities - Hard Version</h2>
    <p class="text-muted text-center">cpu: 1000ms 内存: 256M</p>
    <table class="table table-bordered">
        <thead>
        <tr class=""success>
            <th>#</th>
            <th>提交时间</th>
            <th>结果</th>
            <th>运行时间</th>
            <th>运行内存</th>
            <th>语言</th>
        </tr>
        </thead>
        <tbody>
        <tr class="warning">
            <th scope="row">1</th>
            <td>1</td>
            <td>Error Format</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
        </tr>
        <tr class="danger">
            <th scope="row">2</th>
            <td>Wrong</td>
            <td>Wrong Answer</td>
            <td>@fat</td>
            <td>3</td>
            <td>3</td>
        </tr>
        <tr class="success">
            <th scope="row">3</th>
            <td>Larry</td>
            <td>Accepted</td>
            <td>@twitter</td>
            <td>3</td>
            <td>3</td>
        </tr>

        </tbody>
    </table>
</div>
{% endblock %}