{% extends 'oj_base.html' %}

{% block body %}

<div class="container main">
    <ul class="nav nav-tabs nav-tabs-google">
        <li role="presentation">
            <a href="problem.html">题目</a></li>
        <li role="presentation" class="active"><a href="my_solutions_list.html">我的提交</a></li>
        <li role="presentation"><a href="#">讨论</a></li>
    </ul>
    <h2 class="text-center">Battle Over Cities - Hard Version</h2>
    <p class="text-muted text-center">cpu: 1000ms 内存: 256M</p>
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>运行结果:<span class="text-success">Accepted</span></h4>
            <p>cpu: 1000ms 内存: 256M 语言:python</p>
        </div>
    </div>
    <div id="code-field">
        <textarea id="code-editor">
#include &lt;stdio.h&gt;
int main()
{
    printf(&quot;Hello world&quot;);
    return 0;
}</textarea>
    </div>
</div>

{% endblock %}