@import url("bootstrap/bootstrap.min.css");
@import url("bootstrap/todc-bootstrap.min.css");
@import url("codeMirror/codemirror.css");
@import url("simditor/simditor.css");
@import url("datetime_picker/bootstrap-datetimepicker.css");
@import url("tagEditor/jquery.tag-editor.css");
@import url("global.css");

#loading-gif {
    width: 40px;
    height: 40px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.line-chart {
    min-width: 100%;
    max-height: 300px;
}

.pie-chart {
    min-width: 100%;
    max-height: 300px;
}

.chart-description {
    text-align: center;
}

.pie-chart-container {
    width: 50%;
    float: left;
}

.tag-editor {
    border: 1px solid #d9d9d9;
    border-top-color: silver;
}

.group-tag {
    color: #46799b;
    background: #e0eaf1;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px 0 0 2px;
    float: left;
    padding: 0 4px;
    box-sizing: border-box;
    list-style-type: none;
    margin: 5px;
}

.error-info {
    color: #dd4b39;
    font-family:
    Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.4;
    font-weight: 600;
}
