body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, STHeiti, "Microsoft Yahei", SimSun, "Droid Sans";
}

html {
    height: 100%;
}

body {
    height: 100%; /*使内容高度和body一样*/
    margin-bottom: -80px; /*向上缩减80像素，不至于footer超出屏幕可视范围*/
}

.main {
    padding-bottom: 120px;
}

img {
    max-width: 100%;
    height: auto;
}

.footer {
    left: 0;
    right: 0;
    height: 80px
}

label {
    font-size: 16px;
}

[ms-controller] {
    display: none
}

.right {
    float: right;
}


pre {
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    background-color: white;
}
