@import url("webuploader/webuploader.css");
@font-face{
    font-family: 'source_code_pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: local('Source Code Pro'),
         url('/static/css/fonts/source_code_pro/EOT/SourceCodePro-Regular.eot') format('embedded-opentype'),
         url('/static/css/fonts/source_code_pro/WOFF2/TTF/SourceCodePro-Regular.ttf.woff2') format('woff2'),
         url('/static/css/fonts/source_code_pro/WOFF/OTF/SourceCodePro-Regular.otf.woff') format('woff'),
         url('/static/css/fonts/source_code_pro/OTF/SourceCodePro-Regular.otf') format('opentype'),
         url('/static/css/fonts/source_code_pro/TTF/SourceCodePro-Regular.ttf') format('truetype');
}

body, button, input, select, textarea, h1, h2, h3, h4, h5, h6, pre, code, .CodeMirror-code {
    font-family: source_code_pro, "PingFangSC-Regular", "Heiti SC", "Microsoft Yahei", monospace;
}

html {
    height: 100%;
}

body {
    height: 100%; /*使内容高度和body一样*/
    margin-bottom: -80px; /*向上缩减80像素，不至于footer超出屏幕可视范围*/
}

.main {
    padding-bottom: 120px;
}

img {
    max-width: 100%;
    height: auto;
}

.footer {
    left: 0;
    right: 0;
    height: 80px
}

label {
    font-size: 16px;
}

[ms-controller] {
    display: none
}

.right {
    float: right;
}


pre, code {
    background-color: white;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.CodeMirror-code{
    background-color: white;
}

.big-avatar{
    height: 200px;
    width: 200px;
}

#user-mood{
    max-width: 70%;
}

#oj-logo{
    height: 20px;
}

.super-admin-star{
    color: #ffd700;
}

.admin-star{
    color: #c0c0c0;
}

#user-data-number{
    font-size: 20px;
}

#user-data-text{
    display: block;
}

#browser-unsupported{
    padding: 15px 0;
    background: #FBE3E4;
    color: #8A1F11;
    text-align: center;
}
