@import url("bootstrap/bootstrap.min.css");
@import url("bootstrap/todc-bootstrap.min.css");
@import url("codeMirror/codemirror.css");
@import url("global.css");
@import url("contest/countdown.css");

#language-selector {
    width: 130px;
}

#code-field {
    padding-top: 15px;
}

#loading {
    display: none;
}

#code-editor {
    border: 0;
    height: 300px;
}

.problem-section {
    padding-top: 5px;
    padding-bottom: 5px;
}

.problem-detail {
    font-size: 15px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

.admin-container{
    padding-left: 10px;
    padding-right: 10px;
}

.problem, .sample{
    padding-top: 15px;
}

#loading-gif{
    width: 40px;
    height: 40px;
    display: none;
}

#submit-code-button{
    margin: 10px;
}

li.problem-tag {
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #e5e5e5;
}

.panel>.list-group{
    padding: 0 0;
}

.ac-flag {
    color: green;
}

.dealing-flag {
    color: #FF9933;
}

.CodeMirror{
    min-height: 250px;
    _height:250px;
    height: auto;
}

.CodeMirror-scroll {
  overflow: auto;
  min-height: 250px;
  _height:250px;
  height: auto;
  position: relative;
  outline: none;

}

.contest-tab{
    margin-bottom: 15px;
}

#share-code{
    margin-top: 15px;
}

#share-code textarea {
    margin-top: 15px;
}

#about-acm-logo{
    width: 40%;
}

.rank .first-achieved{
    background: #33CC99;
}


.avatar-item{
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}


#tfa-qrcode{
    height: 40%;
    width: 40%;
}

#tfa-area{
    display: none;
}


.tag-link{
    display: inline!important;
    padding: 0!important;
    margin: 0!important;
}