django==1.11.4
djangorestframework==3.4.0
pillow
otpauth
flake8-quotes
pytz
coverage
python-dateutil
celery
Envelopes
qrcode
flake8-coding
requests
django-redis
psycopg2
gunicorn
jsonfield
XlsxWriter
raven