<div ms-controller="add_problem" class="col-md-9">
    <form id="add-problem-form">
        <div class="col-md-12">
            <div class="form-group">
                <label>题目标题</label>
                <input type="text" name="title" class="form-control" ms-duplex="title">
            </div>
            <div class="form-group">
                <label>题目描述</label>
                <textarea id="problemDescription" placeholder="这里输入内容" autofocus ms-duplex="description"></textarea>
                <small ms-visible="description==''" style="color:red">请填写题目描述</small>
            </div>
            <div class="col-md-6">
                <label>cpu</label>
            </div>
            <div class="col-md-6">
                <label>内存</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="cpu" class="form-control" ms-duplex="cpu">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="memory" class="form-control" ms-duplex="memory">
                </div>
            </div>
            <div class="col-md-12">
                <label>样例</label>
                <a href="javascript:void(0)" class="btn btn-primary btn-sm" ms-click="add_sample()">添加</a>

                <div class="sample">
                    <div class="panel panel-default sample-panel" ms-repeat-sample="samples">
                        <div class="panel-heading">
                            <span class="panel-title">样例{{$index + 1}}</span>
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm"
                               ms-click="toggle_sample(sample)">
                                {{getBtnContent(sample)}}
                            </a>
                            <a href="javascript:void(0)" class="btn btn-danger btn-sm"
                               ms-click="del_sample(sample)">
                                删除
                            </a>
                        </div>
                        <div class="panel-body row" ms-visible="sample.visible">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>样例输入</label>
                                    <textarea class="form-control" rows="5" ms-duplex="sample.input"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>样例输出</label>
                                    <textarea class="form-control" rows="5" ms-duplex="sample.output"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label>测试数据</label>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div id="testCaseFile">选择文件</div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <input type="submit" class="btn btn-success btn-lg" value="发布题目" id="submitBtn">
        </div>
    </form>
</div>

<script src="/static/js/app/admin/problem/add_problem.js"></script>