{% extends "oj_base.html" %}
{% block body %}
<div class="container main">
    <ul class="nav nav-tabs nav-tabs-google">
        <li role="presentation" class="active">
            <a href="problem.html">题目</a></li>
        <li role="presentation"><a href="my_solutions_list.html">我的提交</a></li>
        <li role="presentation"><a href="#">排名</a></li>
    </ul>
    <h2 class="text-center">第一次比赛</h2>

    <p class="text-muted text-center"><b>开始时间:</b> 2015-6-8 19:00 <b>结束时间:</b> 2015-9-1 12:00</p>

</div>
{% endblock %}