{% load announcement_list %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            公告
        </h3></div>
    <div class="panel-body">
    {% public_announcement_list as announcements %}
        {% if announcements %}
            {% for item in announcements%}
            <p>{{ forloop.counter }}.&nbsp;&nbsp;<a href="/announcement/{{ item.id }}/" target="_blank">{{ item.title }}</a>
            </p>
            {% endfor %}
        {% else %}
           <p>暂无可显示的公告</p>
        {% endif %}
    </div>
</div>