django==1.9.6
MySQL-python==1.2.5
redis==2.10.5
django-redis-sessions==0.5.6
djangorestframework==3.4.0
django-rest-swagger==2.1.2
gunicorn==19.7.1
coverage==4.3.4
django-extensions==1.7.8
supervisor==3.3.1
pillow==4.0.0
jsonfield==2.0.1
Envelopes==0.4
celery==4.0.2
qrcode==5.3
